* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
}

.container {
    width: 80%;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 30px;
    font-weight: 800;
    float: left;
    color: white;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky; 
    top: 0;
    background: linear-gradient(62.31deg,#053B50 29.17%,#176B87 96.64%);
    z-index: 1;
    border-bottom:1px solid #364f6b;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.hero {
    margin-left: 100px;
}

.kolom {
    width: 50%;
}

.hero h1{
    font-weight: bold;
    margin-top: 40px;
    color: #053B50;
}

h2 {
    font-weight: 800;
    margin-top: 40px;
    color: #364f6b;
    width: 100%;
}

a.tbl-biru {
    background: #3f72af;
    border-radius: 20px;
    margin-top: 30px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: #176B87;
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 5px 0px;
}

.tengah {
    text-align: center;
    width: 100%;
}

article {
    position: relative;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    background: #fff;
    overflow: hidden;
    width: 30%;
    margin: auto;

}

article h2 {
  margin: 0 0 18px 0;
  color: #053B50;
}

figure {
  margin: 10px;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

  article img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.article-body {
  padding: 24px;
}

article a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #28666e;
}

h4 {
    font-weight: 800;
    color: black;
    width: 100%;
    line-height: 50px;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

input {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

label {
    font-size: 16px;
}

/* input[type="checkbox"] {
    margin-right: 5px;
} */

button[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

#warning {
    margin-top: 10px;
    color: red;
    font-weight: bold;
}

#copyright {
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
}
